# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# IDE / Editors
# ===============================
.idea/
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store

# ===============================
# Database files
# ===============================
DATA/*.db

# ===============================
# Streamlit
# ===============================
.streamlit/
